#!/bin/sh

DOCKER_MACHINE_AUTO_START=1

if [ "$(uname -s)" = "Darwin" ]; then
    if [ "$(docker-machine status)" = "Running" ]; then
        eval "$(docker-machine env --shell=sh)"
    elif [ "${DOCKER_MACHINE_AUTO_START}" = "1" ]; then
        docker-machine start
        eval "$(docker-machine env --shell=sh)"
    fi
fi
